.cool-card-f-container {
    padding: 1em;
    display: flex;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    background-color: #fafafa;
    box-shadow: 0px 1px 10px rgba(92, 92, 92, 0.30);
    margin: 1em;
  }
  
  .cool-card-f-image img {
    border-radius: 4px;
  }
  
  .cool-card-f-text-content {
    padding: .8em;
  }
  
  .cool-card-f-names {
    margin: 0;
  }
  
  .cool-card-f-description {
    margin-top: .5em;
  }