.cool-card-container {
  padding: 1em;
  display: flex;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  background-color: #fafafa;
  box-shadow: 0px 1px 10px rgba(92, 92, 92, 0.30);
  margin: 1em;
}

.cool-card-image img {
  border-radius: 4px;
}

.cool-card-text-content {
  padding: .8em;
}

.cool-card-names {
  margin: 0;
}

.cool-card-description {
  margin-top: .5em;
}